= render partial: "products/header"

.user-show
  = render partial: 'user-show__side'

  .user-show__edit
    .user-show__edit__form
      %h2 お届け先情報編集
      .user-show__edit__form__field--name
        %label お届け先お名前(全角)
        %span{class: "user-show__edit__form__field__necessity"} 必須
        .user-show__edit__form__field--name__area
          %input{type: "text", placeholder: "例) 難波",autofocus: true, class: "user-show__edit__form__field__text-form--name"}
          %input{type: "text", placeholder: "例) 太郎", class: "user-show__edit__form__field__text-form--name"}
      .user-show__edit__form__field--name
        %label お届け先お名前カナ(全角)
        %span{class: "user-show__edit__form__field__necessity"} 必須
        .user-show__edit__form__field--name__area
          %input{type: "text", placeholder: "例) ナンバ", class: "user-show__edit__form__field__text-form--name"} 
          %input{type: "text", placeholder: "例) タロウ", class: "user-show__edit__form__field__text-form--name"} 
      .user-show__edit__form__field
        %label 郵便番号
        %span{class: "user-show__edit__form__field__necessity"} 必須
        %br/
        %input{type: "text", autocomplete: "postal-code", placeholder: "例) 1234567", class: "user-show__edit__form__field__text-form--name"} 
        %p{class: "user-show__edit__form__field__explanation"} ※ 半角入力・ハイフン無しでお願いします。
      .user-show__edit__form__field
        %label 都道府県
        %span{class: "user-show__edit__form__field__necessity"} 必須
        %br/
        %input{type: "text", placeholder: "例) 大阪府", class: "user-show__edit__form__field__text-form"}
      .user-show__edit__form__field
        %label 市町村
        %span{class: "user-show__edit__form__field__necessity"} 必須
        %br/
        %input{type: "text", placeholder: "例) 大阪市中央区", class: "user-show__edit__form__field__text-form"}
      .user-show__edit__form__field
        %label 番地
        %span{class: "user-show__edit__form__field__necessity"} 必須
        %br/
        %input{type: "text", placeholder: "例) 難波５丁目１−６０", class: "user-show__edit__form__field__text-form"}
      .user-show__edit__form__field
        %label 建物名
        %span{class: "user-show__edit__form__field__necessity--any"} 任意
        %br/
        %input{type: "text", placeholder: "例) なんばスカイオ 15階", class: "user-show__edit__form__field__text-form"} 
      .user-show__edit__form__field
        %label 電話番号
        %span{class: "user-show__edit__form__field__necessity"} 必須
        %br/
        %input{type: "text", placeholder: "例) 05031873522", class: "user-show__edit__form__field__text-form"}
        %p{class: "user-show__edit__form__field__explanation"} ※ 半角入力・ハイフン無しでお願いします。
      .user-show__edit__form__submit
        %input{type: "submit", value: "更新する", class: "user-show__edit__form__submit__btn"}

= render partial: "products/footer"