= render partial: "products/header"

.user-show
  = render partial: 'user-show__side'

  .user-show__credit
    -# %h2.user-show__credit__title 支払い方法
    .user-show__credit__menu
      .user-show__credit__menu__list
        %h4 クレジットカード一覧
        -# 【if文】クレジットカードが登録されてないときに表示
        =link_to new_credit_path do
          %button.user-show__credit__menu__list__btn クレジットカードを追加する

        -# 【if文】クレジットカードが登録されているときに表示
        -# .user-show__credit__menu__list__card
        -#   = image_tag "credit/logo_visa.gif", class: "user-show__credit__menu__list__card--img"
        -#   %p.user-show__credit__menu__list__card--num ************0000
        -#   %p.user-show__credit__menu__list__card--date 01/25
        -#   =link_to "削除する", user_path, class: "user-show__credit__menu__list__card--delete"

      %p.user-show__credit__menu__link
        = link_to "お支払方法について", user_path

= render partial: "products/footer"