= render partial: "products/header"

.user-show
  = render partial: 'user-show__side'

  .user-show__edit
    .user-show__edit__form
      %h2 会員情報編集
      .user-show__edit__form__field
        %label ニックネーム
        %span.user-show__edit__form__field__necessity 必須
        %br/
        %input{type: "text",autofocus: true, placeholder: "例) テック太郎", class: "user-show__edit__form__field__text-form"} 
      .user-show__edit__form__field
        %label メールアドレス
        %span.user-show__edit__form__field__necessity 必須
        %br/
        %input{type: "text", autocomplete: "email", placeholder: "PC・携帯どちらでも可", class: "user-show__edit__form__field__text-form"} 
      .user-show__edit__form__field
        %label パスワード
        %span.user-show__edit__form__field__necessity 必須
        %br/
        %input{type: "text", autocomplete: "new-password", placeholder: "7文字以上の半角英数字", class: "user-show__edit__form__field__text-form"} 
      .user-show__edit__form__field
        %label パスワード(確認用)
        %span.user-show__edit__form__field__necessity 必須
        %br/
        %input{type: "text", autocomplete: "new-password", placeholder: "もう一度入力してください", class: "user-show__edit__form__field__text-form"} 
        %br/
        %br/
        %b 本人確認
        %p.user-show__edit__form__field__identity 他のお客さまに公開されることはありません。
      .user-show__edit__form__field--name
        %label お名前(全角)
        %span.user-show__edit__form__field__necessity 必須
        .user-show__edit__form__field--name__area
          %input{type: "text", placeholder: "例) 難波", class: "user-show__edit__form__field__text-form--name"}
          %input{type: "text", placeholder: "例) 太郎", class: "user-show__edit__form__field__text-form--name"}
      .user-show__edit__form__field--name
        %label お名前カナ(全角)
        %span.user-show__edit__form__field__necessity 必須
        .user-show__edit__form__field--name__area
          %input{type: "text", placeholder: "例) ナンバ", class: "user-show__edit__form__field__text-form--name"} 
          %input{type: "text", placeholder: "例) タロウ", class: "user-show__edit__form__field__text-form--name"} 
      .user-show__edit__form__field
        %label 生年月日
        %span.user-show__edit__form__field__necessity 必須
        %br/
        .user-show__edit__form__field--birthday
          %input{type: "text", placeholder: "例) 2020", class: "user-show__edit__form__field__text-form--birthday"}
          %span 年
          %input{type: "text", placeholder: "例) 12", class: "user-show__edit__form__field__text-form--birthday"}
          %span 月
          %input{type: "text", placeholder: "例) 12", class: "user-show__edit__form__field__text-form--birthday"}
          %span 日
      .user-show__edit__form__submit
        %input{type: "submit", value: "更新する", class: "user-show__edit__form__submit__btn"}

= render partial: "products/footer"