//繰り返し使用する要素
hr.underline {
  border-top-width: 1px;
  border-top-color: #efefef;
  border-left: 0 solid #efefef;
  border-bottom: 0 solid #efefef;
  border-right: 0 solid #efefef;
  border-top-style: solid;
  margin: 0;
}

//各項目の太字表示
label.product-info {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
}

//必須の表示
span.necessary {
  margin-left: 8px;
  font-size: 12px;
  padding: 0 4px;
  background-color: #ff0211;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
}

//任意の表示
span.optional {
  margin-left: 8px;
  font-size: 12px;
  padding: 0 4px;
  background-color: #bfbfbf;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
}

//入力欄の表示
.input-form {
  margin-top: 16px;
  width: 100%;
}

input.product-info {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  height: 48px;
  margin: 0;
  outline: none;
  padding: 0 16px;
  width: 100%;
}

//テキスト入力欄の表示
textarea.product-info {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #222;
  font-size: 16px;
  margin-top: 16px;
  outline: none;
  padding: 13px 16px;
  resize: vertical;
  vertical-align: middle;
  width: 100%;
}

//選択欄の表示
.select-form {
  width: 100%;
  .select-area {
    margin-top: 16px;
    display: inline-block;
    position: relative;
    width: 100%;
  }
}
select.product-info {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #222;
  font-size: 16px;
  height: 48px;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0 56px 0 16px;
  width: 100%;
}


//各タイトルの表示
.title-name {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 24px;
}

//投稿クリックエリアのCSS
.label-content{
  margin-bottom: 10px;
  width: 620px;
  .label-box {
    display: block;
    border: 1px dashed #ccc;
    position: relative;
    background: #f5f5f5;
    width: 100%;
    height: 162px;
    cursor: pointer;
    &__text-visible {
      position: absolute;
      top: 47%;
      left: 16px;
      right: 16px;
      text-align: center;
      font-size: 14px;
      line-height: 1.5;
      font-weight: bold;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      pointer-events: none;
      white-space: pre-wrap;
      word-wrap: break-word;
    }  
  }
}

//本文
.product-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #eee;
  .product-ex {
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    &__main {
      width: 700px;
      border-top-width: 1px;
      &__input-form {
        padding: 40px;
        &__image {
          p.max-uploads {
            margin-top: 16px;
            font-size: 14px;
            line-height: 1.4em;
          }
        }
      }
    }
  }
  .product-description {
    padding: 40px;
    &__form {
      .name-form {
        margin: 0!important;
        display: inline-block;
        position: relative;
        width: 100%;
      }
      .description-form {
        margin-top: 32px;
        display: inline-block;
        position: relative;
        width: 100%;
        .counter {
          margin-top: 16px;
          text-align: right;
          color: #888;
          font-size: 12px;
          line-height: 1.4em;
        }
      }
    }
  }
  .product-detail {
    padding: 40px;
    &__form {
      .category-form {
        margin-top: 32px;
      }
      .size-form {
        margin-top: 32px;
      }
      .brand-form {
        margin-top: 32px;
      }
      .status-form {
        margin-top: 32px;
      }
    }
  }
  .about-delivery {
    padding: 40px;
    &__form {
      .title {
        display: flex;
        justify-content: flex-start;
      }
      .cost-form {
        margin-top: 32px;
      }
      .method-form {
        margin-top: 32px;
      }
      .area-form {
        margin-top: 32px;
      }
      .days-form {
        margin-top: 32px;
      }
    }
  }
  .price {
    padding: 40px 40px 0px;
    .price-form {
      margin-bottom: 40px;
      .price-name-box {
        display: flex;
        align-items: center;
        .price-name {
          margin-right: auto;
          white-space: nowrap;
        }
        span.yen {
          font-size: 14px;
          margin-right: 8px;
        }
        .yen-form {
          align-items: center;
          display: inline-flex;
          width: 100%;
          max-width: 285px;
          &__box {
            display: inline-block;
            position: relative;
            width: inherit;
            input.yen {
              text-align: right;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              font-family: inherit;
              font-size: inherit;
              height: 48px;
              margin: 0;
              outline: none;
              padding: 0 16px;
              width: 100%;
            }
          }
        }
      }
      .fee-form {
        padding: 12px 0px;
        -webkit-box-align: center;
        align-items: center;
        box-sizing: content-box;
        display: flex;
        height: 46px;
        .name {
          margin-right: auto;
          white-space: nowrap;
          font-size: 14px;
          font-weight: lighter;
        }
      }
      .return-form {
        padding: 12px 0px;
        -webkit-box-align: center;
        align-items: center;
        box-sizing: content-box;
        display: flex;
        height: 46px;
        .name {
          margin-right: auto;
          white-space: nowrap;
          font-size: 14px;
          font-weight: lighter;
        }
      }
    }
  }
  .btn-form {
    width: 360px;
    margin: 0px auto 32px;
    .product-btn {
      width: 100%;
      background-color: #3CCACE;
      color: #fff;
      font-size: 17px;
      font-weight: 600;
      min-height: 48px;
      padding: 0 24px;
      border-radius: 4px;
      border: 1px solid transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
      }
    }
    button.save-btn {
      width: 100%;
      margin-top: 24px;
      background-color: #ccc;
      border-color: transparent;
      color: #222;
      font-size: 17px;
      font-weight: 600;
      min-height: 48px;
      padding: 0 24px;
      border-radius: 4px;
      border: 1px solid transparent;
      &:hover {
        opacity: 0.7;
      }
    }
    a.back {
      margin-top: 24px;
      color: #0095ee;
      display: flex;
      width: 100%;
      height: 20px;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      text-decoration: none;
      word-break: keep-all;
      font-size: 14px;
    }
  }
  .attention {
    margin: 0px 40px 64px;
    font-size: 12px;
    line-height: 1.4em;
  }
}
