.purchase-done {
  width: 700px;
  height: calc(100vh - 346px);
  margin: 0 auto;
  padding-top: 48px;
  text-align: center;
  &__back {
    color: $main-color;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 16px;
    &:hover {
      text-decoration: underline;
    }
  }
}