.footer {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  background-color: #272727;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 0;
  position: relative;
  &__top {
    @include header;
    &__content {
      margin: 0 1%;
      display: flex;
      flex-direction: column;
      h4 {
        color: white;
        margin: 0 0 20px 0 ;
      }
      &__link {
        font-size: 12px;
        padding: 7px 71px;
        text-decoration: none;
        color: white;
      }
    }
  }
  &__bottom {
    p {
      margin: 0;
      color: white;
      font-size: 14px;
    }
  }
}
