.header{
  height: 100px;
  width: 100%;
  padding: 15px 200px;
  position: relative;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  &__title{
    display: flex;
  &-image{
    width: 135px;
    height: 40px;
    }
  form {
    width: 100%;
    display: flex;
    #search{
      width: 100%;
      margin-left: 40px;
      padding: 0 10px;
    }
  }
  &__search{
    width:40px;
    height: 40px;
    background-color: $main-color;
    @include header;
    align-items: center;
  }
  }
  &__list{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 14px;
    &-left{
      display: flex;
      @include header__list-link;
      li{
        padding-right: 40px;
        display: inline-block;
      }
    }
    &-right{
      display: flex;
      @include header__list-link;
      li{
        padding-left: 20px;
      }
    }
  }
}
