.user-show__logout {
  width: 70%;
  padding: 72px 32px;
}
.user-show__logout__area {
  width: 100%;
  height: 160px;
  background-color: #fff;
  text-align: center;
  line-height: 160px;
}
.user-show__logout__area__btn {
  padding: 16px 120px;
  font-size: 0.8rem;
  color: #fff;
  background-color: $main-color;
  border: none;
}