= render partial: "products/header_sub"

.purchase-done
  %h2 購入が完了しました！
  %h2 ありがとうございます！！
  = link_to "ユーザーマイページに戻る", user_path(current_user.id), class: "purchase-done__back"

= render partial: "products/footer_sub"