@mixin credit-new-form {
  height: 46px;
  border: 1px solid #adadad;
  border-radius: 8px;
  outline: none;
  padding: 10px;
  &:focus {
    box-shadow:0 0 0 2px $main-color;
  }
}
@mixin credit-new-necessity {
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 2px;
  color: white;
}